# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip

# Eclipse #
bin/
classes/

# Maven #
target/

# Xtend #
xtend-gen/
*._trace

# EGit #
**/.gitignore
