<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.outline.ICatalogOutlineService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.lookup.ILanguageLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.process.ICategoryProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.process.IFilmProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.process.IActorProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.outline.ICustomersOutlineService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="net.sakilapp.shared.services.outline.IRetailOutlineService">
      </proxy>
      </extension>

</plugin>
