<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.scout.service.services">
    <proxy class="net.sakilapp.shared.services.outline.ICatalogOutlineService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="net.sakilapp.shared.services.lookup.ILanguageLookupService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
  </extension>
  <extension point="org.eclipse.scout.service.services">
  </extension>
</plugin>
