<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="sakilapp" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.bsiag.scout.rt.server.jdbc.mysql5117.source.feature.group" version="5.1.17.20140212-1426"/>
<repository location="http://tools.bsiag.com/marketplace/jdbc/4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="3.8.2.v20130118-180157-96BuGOZFxwOAeG8Ofmqicz0tPK"/>
<unit id="org.eclipse.platform.feature.group" version="3.8.1.v20130118-180812-9jF7oIBFG8eU2pim-VbIlTuQjY0RWWK3x-bv4I"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-edvtH0ZcEC5NOFTB"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.scout.rt.source.feature.group" version="4.0.0.20140611-1401"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms256m -Xmx512m </vmArgs>
</launcherArgs>
</target>
